<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.client.clientOrder.dao.ClientOrderDao">
    <!--新增订单评价-->
    <insert id="saveOrdersAppraise" parameterType="com.xzsd.app.client.clientOrder.entity.ClientOrderInfo">
        insert into t_goods_appraise
        (goods_code,
        appraise_detail
        appraise_level,
        user_code,
        image_num,
        image_path,
        create_time,
        create_name,
        version)
        values
        (
        #{goods_code},
        #{appraiseDetail},
        #{appraiseLevel},
        #{userId},
        <foreach collection="listNum" item="item" index= "index" separator =",">
            (
            #{imageNum},
            )
        </foreach>
        <foreach collection="listImage" item="item" index= "index" separator =",">
            (
            #{imagePath},
            )
        </foreach>
        now(),
        #{createName},
        0
        )

    </insert>
</mapper>
