<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.driver.dao.DriverDao">
    <!--检验新增或修改的用户的账号和手机号码是否存在-->
    <select id="countUsers" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="int">
        select count(user_acct)
        from t_sys_user
        where is_deleted = 0
        and (user_acct = #{userAcct} or phone = #{phone})
        <if test="userCode != null and userCode != ''">
            and user_code != #{userCode}
        </if>
    </select>
    <!--注册用户-->
    <!--新增司机-->
    <insert id="saveDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into
        t_driver
        (
        user_code,
        province_code,
        city_code,
        area_code,
        is_deleted,
        create_name,
        create_time,
        version
        )
        values
        (
        #{userCode},
        #{provinceCode},
        #{cityCode},
        #{areaCode},
        #{isDeleted},
        #{createName},
        now(),
        0
        )
    </insert>
    <!--新增司机信息到用户表-->
    <insert id="saveUser" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        insert into
        t_sys_user
        (user_code,
        user_acct,
        user_password,
        user_name,
        sex,
        phone,
        email,
        id_card,
        role,
        is_deleted,
        create_name,
        create_time,
        version
        )
        values
        (
        #{userCode},
        #{userAcct},
        #{userPassword},
        #{userName},
        #{sex},
        #{phone},
        #{email},
        #{idCard},
        4,
        #{isDeleted},
        #{createName},
        now(),
        0
        )
    </insert>

    <!--查询司机列表-->
    <select id="listDriverByPage" parameterType="com.xzsd.pc.driver.entity.DriverInfo" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
        a.user_code userCode,
        a.user_acct userAcct,
        a.user_name userName,
        a.phone phone,
        a.id_card idCard,
        a.create_time createTime,
        a.create_name createName,
        a.update_time updateTime,
        a.update_name updateName,
        a.version version
        from t_sys_user a
        LEFT JOIN t_driver b
        on a.user_code = b.user_code
        where b.is_deleted = 0
        <if test="userAcct != null and userAcct != ''">
            and a.user_acct like concat('%', #{userAcct}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and a.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="provinceCode != null and provinceCode != ''">
            and b.province_code like concat('%', #{provinceCode}, '%')
        </if>
        <if test="cityCode != null and cityCode != ''">
            and b.city_code like concat('%', #{cityCode}, '%')
        </if>
        <if test="areaCode != null and areaCode != ''">
            and b.area_code like concat('%', #{areaCode}, '%')
        </if>
        <if test="role == 3">
            and b.city_code in (select city_code from t_store where user_code = #{userId})
        </if>
        <if test="role == 1">

        </if>
        order by b.create_time desc
    </select>

    <!--删除司机-->
    <update id="deleteDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_driver
        set
        is_deleted = 1,
        update_time = now(),
        update_name = #{userId},
        version = version + 1
        where user_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <!--删除在用户表的司机信息-->
    <update id="deleteUser" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_sys_user
        set
        is_deleted = 1,
        update_time = now(),
        update_name = #{userId},
        version = version + 1
        where user_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
        and role = 3

    </update>

    <!--修改司机信息-->
    <update id="updateDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_driver
        set
            province_code = #{provinceCode},
            city_code = #{cityCode},
            area_code = #{areaCode},
            update_time = now(),
            update_name   = #{updateName},
            version      = version + 1
        where user_code = #{userCode}
          and version = #{version}
    </update>
    <!--修改在用户表的司机信息-->
    <update id="updateUserDriver" parameterType="com.xzsd.pc.driver.entity.DriverInfo">
        update t_sys_user
        set
            user_name    = #{userName},
            user_acct    = #{userAcct},
            id_card      = #{idCard},
            phone        = #{phone},
            user_password = #{userPassword},
            update_time = now(),
            update_name   = #{updateName},
            version      = version + 1
        where user_code = #{userCode}
          and version = #{version}
    </update>

    <!--查询用户详情-->
    <select id="getDriverByUserCode" parameterType="java.lang.String" resultType="com.xzsd.pc.driver.entity.DriverInfo">
        select
            a.user_code userCode,
            a.user_name userName,
            a.user_acct userAcct,
            a.user_password userPassword,
            a.phone,
            a.id_card idCard,
            e.dic_name provinceName,
            c.dic_name cityName,
            d.dic_name areaName,
            a.is_deleted isDeleted,
            a.create_name createName,
            a.create_time createTime,
            a.update_name updateName,
            a.update_time updateTime,
            a.version
        from
            t_sys_user a
        LEFT JOIN t_driver b
        on a.user_code = b.user_code
        LEFT JOIN t_dictionary c
        on b.city_code = c.dic_code
        LEFT JOIN t_dictionary d
        on b.area_code = d.dic_code
        LEFT JOIN t_dictionary e
        on b.province_code = e.dic_code
        where a.user_code = #{userCode}
        and b.is_deleted = 0
    </select>
</mapper>