<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.order.dao.OrderDao">

    <!--查询订单列表-->
    <select id="listOrderByPage" parameterType="com.xzsd.pc.order.entity.OrderInfo" resultType="com.xzsd.pc.order.entity.OrderInfo">
        select
        a.order_code orderCode,
        a.order_money orderMoney,
        a.order_state orderState,
        a.store_code storeCode,
        c.user_name userName,
        c.phone phone,
        a.create_time createTime,
        b.invite_code inviteCode,
        a.version version
        from t_customer b
        LEFT JOIN t_order a
        on a.user_code = b.user_code
        LEFT JOIN t_sys_user c
        on b.user_code = c.user_code
        where a.is_deleted = 0
        <if test="orderCode != null and orderCode != ''">
            and a.order_code like concat('%', #{orderCode}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and c.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="phone != null and phone != ''">
            and c.phone like concat('%', #{phone}, '%')
        </if>
        <if test="orderState != null and orderState != ''">
            and a.order_state like concat('%', #{orderState}, '%')
        </if>
        <if test="role == 2">
            and a.store_code in (select store_code from t_store where user_code = #{userId})
        </if>
        <if test="role == 0">

        </if>
    </select>

    <!--查询订单详情-->
    <select id="getOrderByOrderCode" parameterType="java.lang.String" resultType="com.xzsd.pc.order.entity.OrderInfo">
        select
        a.user_code userCode,
        a.order_code orderCode,
        b.goods_code goodsCode,
        b.goods_name goodsName,
        a.order_sum orderSum,
        a.order_money orderMoney,
        b.sale_price salePrice,
        b.cost_price costPrice,
        a.version version
        from
        t_order_detail a LEFT JOIN t_goods b
        on a.goods_code = b.goods_code
        where a.order_code = #{orderCode}
        and a.is_deleted = 0
    </select>

    <!--修改订单状态-->
    <update id="updateOrderState" parameterType="com.xzsd.pc.order.entity.OrderInfo">
        update t_order
        set
        order_state = #{orderState},
        update_time = now(),
        update_name = #{userId},
        version = version + 1
        where
        order_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>