<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.store.dao.StoreDao">

    <!--校验用户编码是否存在店铺中-->
    <select id="countUser" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="int">
        select count(user_code)
        from t_store
        where is_deleted = 0
        and user_code = #{userCode}
        <if test="storeCode != null and storeCode != ''">
            and store_code != #{storeCode}
        </if>
    </select>
    <!--检验营业执照编码是否存在-->
    <select id="countLicense" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="int">
        select count(license_code)
        from t_store
        where is_deleted = 0
        and license_code = #{licenseCode}
        <if test="storeCode != null and storeCode != ''">
            and store_code != #{storeCode}
        </if>
    </select>
    <!--检验新增的用户编码是否存在用户表中-->
    <select id="countUserInUser" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="int">
        select count(user_code)
        from t_sys_user
        where is_deleted = 0
        and user_code = #{userCode}
    </select>
    <!--新增门店信息-->
    <insert id="saveStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        insert into t_store
        (
        store_code,
        store_name,
        phone,
        invite_code,
        user_code,
        license_code,
        province_code,
        city_code,
        area_code,
        address,
        is_deleted,
        create_time,
        create_name,
        version
        )
        VALUES
        (
        #{storeCode},
        #{storeName},
        #{phone},
        #{inviteCode},
        #{userCode},
        #{licenseCode},
        #{provinceCode},
        #{cityCode},
        #{areaCode},
        #{address},
        #{isDeleted},
        now(),
        #{createName},
        0
        )
    </insert>

    <!--查询门店列表-->
    <select id="listStoreByPage" parameterType="com.xzsd.pc.store.entity.StoreInfo" resultType="com.xzsd.pc.store.entity.StoreInfo">
        select
        a.store_code storeCode,
        a.store_name storeName,
        a.province_code provinceCode,
        a.city_code cityCode,
        a.area_code areaCode,
        a.address address,
        a.phone phone,
        a.invite_code inviteCode,
        a.user_code userCode,
        b.user_name userName,
        b.user_acct userAcct,
        a.create_time createTime,
        a.create_name createName,
        a.update_time updateTime,
        a.update_name updateName,
        a.version version
        from t_store a
        LEFT JOIN t_sys_user b
        on a.user_code = b.user_code
        where a.is_deleted = 0
        <if test="storeCode != null and storeCode != ''">
            and a.store_code like concat('%', #{storeCode}, '%')
        </if>
        <if test="storeName != null and storeName != ''">
            and a.store_name like concat('%', #{storeName}, '%')
        </if>
        <if test="userName != null and userName != ''">
            and a.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="provinceCode != null and provinceCode != ''">
            and a.province_code like concat('%', #{provinceCode}, '%')
        </if>
        <if test="cityCode != null and cityCode != ''">
            and a.city_code like concat('%', #{cityCode}, '%')
        </if>
        <if test="areaCode != null and areaCode != ''">
            and a.area_code like concat('%', #{areaCode}, '%')
        </if>
        <if test="role == 3">
            and a.store_code in (select store_code from t_store where user_code = #{userId})
        </if>
        <if test="role == 1">

        </if>
    </select>

    <!--删除门店-->
    <update id="deleteStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        update t_store
        set
        is_deleted = 1,
        update_time = now(),
        update_name = #{userId},
        version = version + 1
        where store_code in
        <foreach item="item" index="index" collection="listCode" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <!--修改门店信息-->
    <update id="updateStore" parameterType="com.xzsd.pc.store.entity.StoreInfo">
        update t_store
        set
        store_name = #{storeName},
        phone = #{phone},
        user_code = #{userCode},
        license_code = #{licenseCode},
        province_code = #{provinceCode},
        city_code = #{cityCode},
        area_code = #{areaCode},
        address = #{address},
        update_time = now(),
        update_name = #{updateName},
        version = version + 1
        where
        store_code = #{storeCode}
        and
        version = #{version}
    </update>

    <!--查询门店详情信息-->
    <select id="getStoreByStoreCode" parameterType="java.lang.String" resultType="com.xzsd.pc.store.entity.StoreInfo">
        select
        a.store_code storeCode,
        a.store_name storeName,
        e.dic_name provinceName,
        c.dic_name cityName,
        d.dic_name areaName,
        a.address address,
        a.phone phone,
        a.invite_code inviteCode,
        a.user_code userCode,
        b.user_name userName,
        b.user_acct userAcct,
        a.create_time createTime,
        a.create_name createName,
        a.update_time updateTime,
        a.update_name updateName,
        a.version version
        from t_store a
        LEFT JOIN t_sys_user b
        on a.user_code = b.user_code
        LEFT JOIN t_dictionary c
        on a.city_code = c.dic_code
        LEFT JOIN t_dictionary d
        on a.area_code = d.dic_code
        LEFT JOIN t_dictionary e
        on a.province_code = e.dic_code
        where a.is_deleted = 0
        and store_code = #{storeCode}
    </select>

    <!--查询省份列表-->
    <select id="listProvince" parameterType="com.xzsd.pc.dictionary.entity.DictionaryInfo" resultType="com.xzsd.pc.dictionary.entity.DictionaryInfo">
        select
        dic_code provinceCode,
        dic_name provinceName
        from
        t_dictionary
        where
        type = 1
        order by
        dic_code
    </select>
    <!--查询城市列表-->
    <select id="listCity" parameterType="java.lang.String" resultType="com.xzsd.pc.dictionary.entity.DictionaryInfo">
        select
        dic_code provinceCode,
        dic_name provinceName
        from
        t_dictionary
        where
        parent_code = #{parentCode}
        order by
        dic_code
    </select>
    <!--查询区列表-->
    <select id="listArea" parameterType="java.lang.String" resultType="com.xzsd.pc.dictionary.entity.DictionaryInfo">
        select
        dic_code provinceCode,
        dic_name provinceName
        from
        t_dictionary
        where
        parent_code = #{parentCode}
        order by
        dic_code
    </select>
</mapper>

