<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.webauth.menu.dao.MenuDao">
    <!--新增菜单-->
    <insert id="saveMenu" parameterType="com.neusoft.webauth.menu.entity.MenuInfo">
        insert into t_menu
        (
        menu_code,
        menu_name,
        route,
        remarks,
        create_time,
        create_name,
        is_deleted,
        version
        )
        values
        (
        #{menuCode},
        #{menuName},
        #{route},
        #{remarks},
        now(),
        #{createName},
        0,
        0
        )
    </insert>

    <!--查询菜单列表-->
    <select id="listMenus" parameterType="com.neusoft.webauth.menu.entity.MenuInfo" resultType="com.neusoft.webauth.menu.entity.MenuInfo">
        select
            a.menu_code menuCode,
            a.menu_name menuName,
            a.route,
            a.remarks
        from
        t_menu a
        where
        a.is_deleted = 0
<!--        <if test="role == 2">-->
<!--            and a.menu_name = '订单管理'-->
<!--            and a.menu_name = '门店管理'-->
<!--            and a.menu_name = '司机管理'-->
<!--        </if>-->
        order by a.create_time
    </select>

    <!--修改菜单-->
    <update id="updateMenu" parameterType="com.neusoft.webauth.menu.entity.MenuInfo">
        update t_menu
        set
        menu_name = #{menuName},
        route = #{route},
        remarks = #{remarks},
        update_name = #{updateName},
        update_time = now(),
        version = version + 1
        where
        menu_code = #{menuCode}
        and
        version = #{version}
    </update>

    <!--删除菜单-->
    <update id="deleteMenu" parameterType="com.neusoft.webauth.menu.entity.MenuInfo">
        update t_menu
        set
        is_deleted =1,
        update_time = now(),
        update_name = #{userId},
        version = version +1
        where
        menu_code = #{menuCode}
    </update>

    <!--查询菜单详情-->
    <select id="getMenuByCode" parameterType="java.lang.String" resultType="com.neusoft.webauth.menu.entity.MenuInfo">
        select
        menu_code menuCode,
        menu_name menuName,
        route route,
        remarks remarks
        from
        t_menu
        where
        menu_code = #{menuCode}
        and
        is_deleted = 0
    </select>
</mapper>
